@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,200;0,400;0,500;1,600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Overpass', sans-serif;
    background-color: hsl(216, 12%, 8%);
    font-size: 15px;
}

main{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}


.card-component{
    background-color: hsl(213, 19%, 18%, 0.8);
    border: none;
    width: 400px;
    height: 360px;
    border-radius: 15px;
    padding: 2em;
    
}

.icon-star{
    background-color: rgba(54, 57, 61, 0.5);
    border: none;
    padding: 0.8em;
    border-radius: 50px;
    margin-bottom: 20px;
}
.survey > ul{
    list-style: none;   
    color:  hsl(216, 12%, 54%);
}

.survey li{
    margin: 10px 0 10px 0;
}

.survey > ul >  li > h2{
    color: hsl(0, 0%, 100%)
}
.btn-section{
    display: flex;
    gap: 25px;
    margin: 20px 0 20px 0;
}
.btn-section > button {
    color: hsl(216, 12%, 54%);
    background-color: hsl(216, 15%, 19%);
    border: none;
    border-radius: 50px;
    width: 50px;
    height: 48px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

.btn-section > button:hover{
    color: hsl(0, 0%, 100%);
    background-color: hsl(217, 12%, 63%);
}

.btn-section > button:focus{
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    transition: 0.3s ease;
}

.submit-btn{
    width: 355px;
    padding: 1em;
    border-radius: 20px;
    border: none;
    font-weight: 700;
    font-size: 13px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(25, 97%, 53%);
    cursor: pointer;
    letter-spacing: 3px;
    text-decoration: none;
}

.submit-btn:hover{
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
    transition: 0.2s ease;
}

.hidden-ty{
    text-align: center;
    visibility: hidden;
}



.rate-card{
    padding: 0.5em;
    background-color: hsl(216, 15%, 19%);
    color: hsl(25, 97%, 53%);
    font-weight: 200;
    width: 190px;
    border-radius: 10px;
    margin: 10px 0px 20px 75px;
    font-size: 15px;
}


.hidden-ty > h2{
    color: hsl(0, 0%, 100%);
    margin-bottom: 10px;
}

.hidden-ty > p{
    color: hsl(217, 12%, 63%);
}


@media only screen and (max-width: 375px) {
    .card-component{
        width: 300px;
        height: 380px;
    }
    .btn-section{
        gap: 10px;
    }

    .btn-section > button {
        width: 60px;
        height: 40px;
        border-radius: 100%;
    }

    .submit-btn{
        width: 250px;
    }
    .rate-card{
        margin-left: 30px;
    }
  }